body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  font-weight: bold;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-web {
  color: #2196f3;
}

.logo-studio-header {
  color: #000000;
}

.logo-studio-footer {
  color: #ffffff;
}

.nav-list {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.nav-item:hover,
.nav-item:focus {
  color: #2196f3;
}

.header-contacts {
  list-style-type: none;
}

.header-contact-item {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-contact-item:hover,
.header-contact-item:focus {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px; /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: #2f303a;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px; /* identical to box height, or 187% */
  /*display: flex;*/
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.features {
  background-color: #e5e5e5;
  list-style-type: none;
}

.features-title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; /* or 171% */
  letter-spacing: 0.03em;
}

.work {
  background-color: #e5e5e5;
}

.work-heading {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  list-style-type: none;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-heading {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list {
  list-style-type: none;
}

.our-team-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px; /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-text {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-contacts {
  background-color: #2f303a;
}

.footer-contact-list {
  font-style: normal;
  list-style-type: none;
}

.address-title {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; /* or 171% */
  letter-spacing: 0.03em;
}

.footer-contact-item {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; /* or 171% */
  letter-spacing: 0.03em;
}

.footer-contact-item:hover,
.footer-contact-item:focus {
  color: #2196f3;
}

/* Стили для portfolio.html */

.filter-list {
  list-style-type: none;
}

.filter-button {
  width: 128px;
  height: 38px;
  color: #212121;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px; /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-card-list {
  list-style-type: none;
}

.project-card {
  width: 370px;
  height: 404px;
  /* background: #FFFFFF; */
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-name {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px; /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.project-type {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px; /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
